<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="icon" type="image/jpeg" href="../images/icono.jpeg">
    <title>Contacto</title>
</head>
<body>
    <div class="container">
    <header>
        <nav class="barra">
            <a href="../index.html">Inicio</a>
            <a href="../views/producto.html">Clases</a>
            <a href="../views/presupuesto.html">Precios</a>
            <a href="contacto.html" class="active">Contacto</a>
        </nav>
        <button>
            <img src="../images/icono.jpeg" alt="Icono de la pagina web"
            class="icono">
        </button>
    </header>
     <main>
        <div class="titulo-contacto">
            <h1>DONDE NOS ENCONTRAMOS</h1>
        </div>
        <div class="contenido-principal">
            <div class="texto-izquierda">
                <b>CALLE DOCTOR FLEMMING Nº20</b>
            </div>
             <div class="portada">
            <img src="../images/ubicacion.jpg"
            alt="Como llegar al centro señalizado">
            </div>
            <div class="texto-derecha">
               <b>VALDEPEÑAS, CIUDAD REAL 13300</b>
            </div>
        </div>
     </main>
    </div>
        <footer class="footer">
        <ul class="social-icon">
            <li class="icon-elem">
                <a href="" class="icon">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>
            </li>
             <li class="icon-elem">
                <a href="" class="icon">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
            </li>
             <li class="icon-elem">
                <a href="" class="icon">
                    <ion-icon name="logo-twitter"></ion-icon>
                </a>
            </li>
              <li class="icon-elem">
                <a href="" class="icon">
                    <ion-icon name="mail-outline"></ion-icon>
                </a>
            </li>
        </ul>
        <ul class="menu">
            <li class="elemento">
                <a href="" class="menu-icono">Aviso legal</a>
            </li>
            <li class="elemento">
                <a href="" class="menu-icono">612345678</a>
            </li>
            <li class="elemento">
                <a href="" class="menu-icono">Copyright @2026</a>
            </li>
        </ul>
    </footer>
    <script  type = "module"  src = " https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js " > </script> 
    <script nomodule src = " https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js " >   </script>
</body>
</html>