<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="icon" type="image/jpeg" href="../images/icono.jpeg">
    <title>Clases</title>
</head>
<body>
    <div class="container">
    <header>
        <nav class="barra">
            <a href="../index.html">Inicio</a>
            <a href="producto.html" class="active">Clases</a>
            <a href="../views/presupuesto.html">Precios</a>
            <a href="../views/contacto.html">Contacto</a>
        </nav>
        <button>
            <img src="../images/icono.jpeg" alt="Icono de la pagina web"
            class="icono">
        </button>
    </header>
    <main>
        <div class="titulo-clases">
            <h1>CLASES Y HORARIOS</h1>
        </div>
        <div class="contenedor-actividades">
            <p class="horarios-mañana">HORARIOS DE TARDE</p>
            <h2>↓</h2>
            <p>*El precio puede variar dependiendo del número de clases que desee asistir</p>
            <p>*Taekwondo edad mínima 8 años</p>
        <table class="tabla-clases">
            <tr>
                <td>YOGA</td>
                <td>LUNES Y MIÉRCOLES DE 17:00 A 18:30</td>
            </tr>
            <tr>
                <td>GAP</td>
                <td>MARTES Y JUEVES DE 17:00 A 18:30</td>
            </tr>
              <tr>
                <td>HIIT</td>
                <td>LUNES Y MIÉRCOLES DE 18:30 A 20:00</td>
            </tr>
            <tr>
                <td>PILATES</td>
                <td>MARTES Y JUEVES DE 18:20 A 20:00</td>
            </tr>
            <tr>
                <td>ZUMBA</td>
                <td>VIERNES Y MIÉRCOLES DE 16:00 A 17:00</td>
            </tr>
            <tr>
                <td>TAEKWONDO</td>
                <td>MARTES Y JUEVES DE 16:00 A 17:00</td>
            </tr>
            <tr>
                <td>GIMNASIO COMPLETO</td>
                <td>TODOS LOS DÍAS DE 06:00 A 00:00</td>
            </tr>
        </table>
        <p class="horarios-mañana">HORARIOS DE MAÑANA</p>
        <h2>↓</h2>
        <table class="tabla-clases">
            <tr>
                <td>YOGA</td>
                <td>LUNES Y MIÉRCOLES DE 09:30 A 10:30</td>
            </tr>
            <tr>
                <td>GAP</td>
                <td>MARTES Y JUEVES DE 09:30 A 10:30</td>
            </tr>
              <tr>
                <td>HIIT</td>
                <td>LUNES Y MIÉRCOLES DE 10:30 A 11:30</td>
            </tr>
            <tr>
                <td>PILATES</td>
                <td>MARTES Y JUEVES DE 10:30 A 11:30</td>
            </tr>
            <tr>
                <td>ZUMBA</td>
                <td>VIERNES Y MIÉRCOLES DE 11:30 A 12:30</td>
            </tr>
            <tr>
                <td>TAEKWONDO</td>
                <td>MARTES Y JUEVES DE 11:00 A 12:30</td>
            </tr>
            <tr>
                <td>GIMNASIO COMPLETO</td>
                <td>TODOS LOS DÍAS DE 06:00 A 00:00</td>
            </tr>
        </table>
        </div>
    </main>
    </div>
    <footer class="footer">
        <ul class="social-icon">
            <li class="icon-elem">
                <a href="" class="icon">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>
            </li>
             <li class="icon-elem">
                <a href="" class="icon">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
            </li>
             <li class="icon-elem">
                <a href="" class="icon">
                    <ion-icon name="logo-twitter"></ion-icon>
                </a>
            </li>
              <li class="icon-elem">
                <a href="" class="icon">
                    <ion-icon name="mail-outline"></ion-icon>
                </a>
            </li>
        </ul>
        <ul class="menu">
            <li class="elemento">
                <a href="" class="menu-icono">Aviso legal</a>
            </li>
            <li class="elemento">
                <a href="" class="menu-icono">612345678</a>
            </li>
            <li class="elemento">
                <a href="" class="menu-icono">Copyright @2026</a>
            </li>
        </ul>
    </footer>
    <script  type = "module"  src = " https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js " > </script> 
    <script nomodule src = " https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js " >   </script>
</body>
</html>